<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pluglin_special">

    <application>
        <activity android:name=".SpecialActivity" />
        <activity android:name=".activity.DownLoadActivity"></activity>
    </application>

</manifest>